<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Express</title>
        <link rel="stylesheet" href="../styles/style.css" />
    </head>
    <body>
        <main class="users">
            <h1>Create new user page</h1>
            <form class="user-form">
                <input type="text" placeholder="name" name="user_name" />
                <input type="text" placeholder="username" name="user_username" />
                <input type="text" placeholder="email" name="user_email" />
                <button class="btn" type="submit">Add new user</button>
            </form>
            <div class="error">This will be shown if there is an error</div>
            <div class="success">success</div>
        </main>
        <script src="../script/createUserScript.js"></script>
    </body>
</html>
