<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Express</title>
        <link rel="stylesheet" href="./styles/style.css" />
    </head>
    <body>
        <main class="home">
            <h1>Home Page</h1>
            <div class="links">
                <a class="link" href="/users">look at all users</a>
                <a class="link" href="/users/new">create a new user</a>
            </div>
        </main>
        <script src="./script/script.js"></script>
    </body>
</html>
